@model IEnumerable<WebBanHangDienThoai.Models.SanPham>
@{
    ViewBag.Title = "XemTheoNSX";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<div class="tab1">
    @foreach (var item in Model)
    {
        <div class="col-md-3 product-men">
            <div class="men-pro-item simpleCart_shelfItem">
                <div class="men-thumb-item">
                    <img src="~/Content/images/@item.HinhAnh" alt="" class="pro-image-front">
                    <img src="~/Content/images/@item.HinhAnh" alt="" class="pro-image-back">
                    <div class="men-cart-pro">
                        <div class="inner-men-cart-pro">
                            <a href="@Url.Action("XemChiTiet","SanPham",new { id=@item.MaSP})" class="link-product-add-cart">Xem</a>
                        </div>
                    </div>
                    @if (item.Moi == 1)
                    {
                        <span class="product-new-top">New</span>
                    }
                </div>
                <div class="item-info-product ">
                    <h4><a href="single.html">@item.TenSP</a></h4>
                    <div class="info-product-price">
                        <span class="item_price">@item.DonGia.Value.ToString("#,##") VNĐ</span>

                    </div>


                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                        @using (Ajax.BeginForm("ThemGioHangAjax", "GioHang", new { @MaSp = item.MaSP }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divGioHang", InsertionMode = InsertionMode.ReplaceWith }, null))
                        {
                            <input type="submit" value="Thêm Giỏ Hàng" class="button">
                        }
                    </div>




                </div>
            </div>
        </div>
    }
    <div class="clearfix"></div>
</div>

